
<div id="image">
  <img src="https://diylogodesigns.com/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background-768x768.png" alt="">
</div>
<div class="col-md-6 col-md-offset-3">
  <h2>ΣΥΝΔΕΣΗ</h2>

    <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="e-mail">Δ/νση ηλεκτρονικού ταχυδρομείου</label><br>
            <input type="e-mail" class="form-control" name="email" [(ngModel)]="model.email" placeholder="john.doe@example.com"/>
        </div>
        <div class="form-group">
            <label for="password">Κωδικός Πρόσβασης</label><br>
            <input type="password" name="password" [(ngModel)]="model.password" value="12345678"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Είσοδος</button>
        </div>
        <a href="http://localhost:4200/login">Ξέχασα τον κωδικό μου</a>

    </form>
</div>
