h2{
    color: #474EBB;
    text-align: center;
    margin: auto;

}

label{
    text-align: center;
    font-size: 0.5em;
}
a{
    text-decoration: none;
    font-size: 0.5em;
}
.form-group{
    text-align: center;
    margin: auto;
    padding: 2%;
}
div{
    left:50%;
    text-align: center;
    margin: auto;

}
input{
    text-align: center;
    margin: auto;
    border-radius: 5%;
    width:35%;
    padding: 1%;
}
button.btn.btn-primary{
    color: white;
    background-color: #04347F;
    width:25%;
    padding: 1%;
    border-style: none;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col-md-6.col-md-offset-3{

    margin-top: 10%;
    margin-left: 35%;

}
img{
    float: left;
    width:35%;
}
