<div class="wrapper">
    <div class="wrapper1">
      <div class="top">
        <a href="#"><img id="img1" src="https://diylogodesigns.com/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background-768x768.png" alt=""><strong>Warehouse</strong><br><strong>management</strong></a>
      </div>
      <div class="menu">
          <span><img id="img" src="https://diylogodesigns.com/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background-768x768.png" alt=""><p>ΜΕΝΟΥ ΕΠΙΛΟΓΩΝ</p></span>
          <a href="#"><img id="img1" src="https://diylogodesigns.com/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background-768x768.png" alt=""><p>Κεντρική σελίδα</p></a>
          <a href="#"><img id="img1" src="https://diylogodesigns.com/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background-768x768.png" alt=""><p>Αποθήκη 1</p></a>
          <a href="#"><img id="img1" src="https://diylogodesigns.com/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background-768x768.png" alt=""><p>Αποθήκη 2</p></a>
          <a href="#"><img id="img1" src="https://diylogodesigns.com/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background-768x768.png" alt=""><p>Αποθήκη 3</p></a>
          <a href="#"><img id="img1" src="https://diylogodesigns.com/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background-768x768.png" alt=""><p>Αποθήκη 4</p></a>
      </div>
      <div class="menu">
          <span><img id="img" src="https://diylogodesigns.com/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background-768x768.png" alt=""><p>ΚΑΤΑΧΩΡΙΣΗ ΥΛΙΚΩΝ ΚΑΙ ΚΩΔΙΚΩΝ</p></span>
          <a href="#"><img id="img1" src="https://diylogodesigns.com/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background-768x768.png" alt=""><p>Καταχώριση</p></a>
      </div>
      <div class="bottom">
          <a href="#"><img id="img" src="https://diylogodesigns.com/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background-768x768.png" alt=""><p>ΡΥΘΜΙΣΕΙΣ</p></a>
      </div>
    </div>
    <div class="wrapper2">
        <a class="main" href="#"><p>Κεντρική Σελίδα</p></a>
          <input type="text" placeholder="Αναζήτηση υλικού,έλεγχος αποθεμάτων" name="search">
    </div>
    <div class="wrapper3">
        
    </div>

  <!-- </div>
    <div class="topnav">

    </div>
    <div class="column">


    </div>
    <div class="center-field">

    </div> -->
</div>
