.wrapper{
    height:100%;
    position: absolute;
    bottom: 0;
    width: 100%;

}
.wrapper1{
    float:left;
    width:20%;
    border-right:ridge;
    background-color: #fff;
    height:100%;

}
.wrapper2{
  float:left;
  width:79%;
  border-bottom:ridge;
  background-color: #fff;
  height:15%;

}
.wrapper3{
  float:left;
  width:79%;

  background: url("https://wallpapercave.com/wp/wp2704824.jpg");
  height:85%;

}
.top{
  font-size: 0.5em;
  display: inline-block;
  text-align: center;
  height:15%;
}
.top a{

  text-align: left;
  padding-top: 20%;
}
.top strong{
    padding-left: 10%;
    font-size: 1.1em;
    color: #000;
}
#img1{
    padding-left: 5%;
    float: left;
    width: 15%;
    height: 8%;
}
#img{

    float: left;
    width: 15%;
    height: 8%;
}
h5
{
    bottom: 0;
    float: right;
    width: 70%;
}
.top.a{
    float: left;
    text-align: center;
    text-decoration: none;

}
a{
    float: left;
    text-align: center;
    text-decoration: none;
    bottom: 0;

}

.menu{
    margin-top: 20%;
    font-size: 0.4em;
    display: inline-block;
    text-align: center;
}
.menu p{
    margin:auto;
    padding: 5%;
    color: #888;
}
.menu span{
    text-align:left;
    font-size: 0.7em;
    margin:auto;

    color: #888;
}
.menu a p:hover{
    background-color: #00008b;
    color:#fff;
}
.bottom{
    padding-top: 20%;
    font-size: 0.4em;
    display: inline-block;
    text-align: center;

    top:0;
}
.bottom a{
    padding-top: 5%;
      margin:auto;
}
.bottom p{
    text-align:left;
    font-size: 0.7em;
    padding: 5%;
    margin:auto;
    color: #888;
    border-top:ridge;
    border-color: #eee;
}
.bottom a p:hover{
    background-color: #00008b;
    color:#fff;
}
.wrapper2 input{
    float: right;
    padding:1%;
    width:30%;
    border-radius: 5px;
    margin-top:4.5%;
    margin-right:2.5%;
}
.wrapper2 a{
    padding: 3%;
    font-size: 0.7em;
}

.wrapper2 p{
    color:#000;
}
