/* You can add global styles to this file, and also import other style files */
body
{
    font-family: Segoe UI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    height: 100%;
    width:100%;
}
